.clues {
  width: 36px;
  line-height: 36px;
  background: #fff;
  padding: 0;
  text-align: center;
  cursor: default;
  border: none;
  font-weight: 600;
  font-size: 14px;
}

.hasError {
  color: rgb(247, 192, 55);
}
