.gameboard_parent {
  display: flex;
  width: 100%;
}

.game_board {
  padding: 36px;
  position: relative;
  margin: 0px auto;
}

.check_icon {
  align-items: center;
  z-index: 999;
  position: absolute;
  color: lightgreen;
  opacity: 0.85;
  display: flex;
}

.top_container,
.bot_container,
.left_container,
.right_container {
  position: absolute;
}

.top_container {
  top: 0;
}

.bot_container {
  bottom: 0;
}

.right_container {
  right: 0;
}

.left_container {
  left: 0;
}
